@page "/"
@using System.Net.WebSockets
@using System.Text
@using System.Threading
@using Google.Protobuf
@using System.IO
@implements IDisposable
@inject AdminAccess.AdminAccessClient Client

<style>
  .mat-virtual-scroll-item {
    height: 150px;
  }
</style>

<div class="mat-layout-grid">
  <div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
    </div>
  </div>
</div>

@code
{

  public string NewUserHandle { get; set; }
  public List<TwitterUser> Users { get; set; } = new List<TwitterUser>();
  public List<QueueItem> Items { get; set; } = new List<QueueItem>();
  public List<QueueItem> QueueItems { get; set; } = new List<QueueItem>();

  CancellationTokenSource disposalTokenSource = new CancellationTokenSource();
  private ClientWebSocket webSocket = new ClientWebSocket();

  public async Task OnNormalClick()
  {
    AddQueueRequest request = new AddQueueRequest();
    request.TweetId = 1300041598449917953L;

    var response = await Client.AddQueueItemAsync(request);
  }

  public async Task OnRetweetedClick()
  {
    AddQueueRequest request = new AddQueueRequest();
    request.TweetId = 1303003523643330561L;

    var response = await Client.AddQueueItemAsync(request);
  }

  public async Task OnQuotedClick()
  {
    AddQueueRequest request = new AddQueueRequest();
    request.TweetId = 1302684242971893760L;

    var response = await Client.AddQueueItemAsync(request);
  }

  public async Task OnAddUserClick()
  {
    var request = new GetTwitterUserRequest();
    request.Handle = NewUserHandle;
    request.VoiceName = "de-US-Wavenet-D";
    request.Language = "de-US";

    var response = await Client.AddTwitterUserAsync(request);

    NewUserHandle = null;
    StateHasChanged();
  }

  protected override async Task OnInitializedAsync()
  {
    var resp = await Client.GetAllTwitterUsersAsync(new GetAllTwitterUserRequest());
    Users = resp.Users.ToList();

    var itemsResp = await Client.GetItemsAsync(new GetQueueRequest());
    Items = itemsResp.Items.ToList();

    StateHasChanged();

    await webSocket.ConnectAsync(new Uri("ws://localhost:50080/connect"), disposalTokenSource.Token);
    _ = HandleMessageReceivingAsync();
  }

  public void Dispose()
  {
    _ = webSocket.CloseAsync(WebSocketCloseStatus.NormalClosure, "Bye", CancellationToken.None);

    disposalTokenSource.Cancel();
    disposalTokenSource.Dispose();

    webSocket.Dispose();
  }

  async Task HandleMessageReceivingAsync()
  {
    var buffer = new ArraySegment<byte>(new byte[2048]);
    while (!disposalTokenSource.IsCancellationRequested)
    {
      WebSocketReceiveResult received;
      using MemoryStream data = new MemoryStream();

      do
      {
        received = await webSocket.ReceiveAsync(buffer, disposalTokenSource.Token);
        Console.WriteLine("Received {0} b ({1})", received.Count, received.EndOfMessage);
        await data.WriteAsync(buffer.Slice(0, received.Count));
      } while (!received.EndOfMessage);

      try
      {
        data.Seek(0, SeekOrigin.Begin);
        var item = NotificationItem.Parser.ParseFrom(data);
        Console.WriteLine("Parsed `NotificationItem`: {0}", item != null);

        data.Seek(0, SeekOrigin.Begin);
        if (item.Type == NotificationType.UserChanged)
        {
          var userNotification = UserChangedNotification.Parser.ParseFrom(data);

          if (userNotification.NewUser != null)
            Users.Add(userNotification.NewUser);

          if (userNotification.OldUser != null)
            Users.Remove(userNotification.OldUser);

          StateHasChanged();
        }
        else if(item.Type == NotificationType.QueueChanged)
        {
          var notification = QueueChangedNotification.Parser.ParseFrom(data);

          if (notification.NewItem != null)
            Items.Add(notification.NewItem);

          StateHasChanged();
        }
      }
      catch (Exception e)
      {
        Console.WriteLine("Failed to Parse {0}", e.Message);
      }
    }
  }
}