@inherits ViewBaseComponent<UsersListViewModel>

<MatHeadline3>Users</MatHeadline3>

<p>
  <MatButton Command="@ViewModel.AddUserCommand" Raised="true">Add User</MatButton>
</p>


@foreach (var user in ViewModel.Users)
{
  <WebAccess.Components.TwitterUserCard User="@user" />
}
