@inherits ViewBaseComponent<UsersListViewModel>

<MatHeadline3>Users</MatHeadline3>

<div class="mat-layout-grid">
  <MatButton Command="@ViewModel.AddUserCommand" Raised="true">Add User</MatButton>
</div>


@foreach (var user in ViewModel.Users)
{
  <WebAccess.Components.TwitterUserCard User="@user" />
}
