@inject AdminAccess.AdminAccessClient Client

<MatCard class="demo-mat-card">
  <MatCardContent>
    <MatCardMedia Wide="true" ImageUrl="@User.ProfileImageUrl">
      <div class="demo-mat-card-content">
        <MatHeadline6 class="demo-mat-card-clean-margin">
          @User.Name
        </MatHeadline6>
        <MatSubtitle2 class="demo-mat-card-clean-margin">
          @@@User.Handle
        </MatSubtitle2>
      </div>
    </MatCardMedia>

  </MatCardContent>
  <MatCardActions>
    <MatCardActionButtons>
      <MatButton OnClick="@OnRemoveClick">Remove</MatButton>
    </MatCardActionButtons>
  </MatCardActions>
</MatCard>



@code {
  [Parameter]
  public TwitterUser User { get; set; }

  public async Task OnRemoveClick()
  {
    var request = new RemoveTwitterUserRequest();
    request.TwitterUser = User;

    var response = await Client.RemoveTwitterUserAsync(request);
  }
}
